source /Users/zodiac/Work/YoutubeSort/.venv/bin/activate
show_virtual_env() {
  if [[ -n "$VIRTUAL_ENV" && -n "$DIRENV_DIR" ]]; then
    echo "($(basename $VIRTUAL_ENV))"
  fi
}
export -f show_virtual_env
PS1='$(show_virtual_env)'$PS1
RPROMPT="%{${fg_bold[white]}%}(env: %{${fg[green]}%}`basename \"$VIRTUAL_ENV\"`%{${fg_bold[white]}%})%{${reset_color}%} $RPROMPT"
export PS1
export RPROMPT

export DEBUG=1
export DJANGO_ALLOWED_HOSTS='localhost 127.0.0.1 [::1]'
export SQL_ENGINE=django.db.backends.postgresql
export SQL_DATABASE=django
export SQL_USER=django
export SQL_PASSWORD=django
export SQL_HOST=localhost
export SQL_PORT=5432



